## Appendix A

In [1]:
#user input data
age = int(input("Please enter your age(integer):"))
gender = input("Please enter your gender(male/female):")
gender = gender+'_'
act = input("Please choose your physical activity level(sedentary/moderately_active/active):")

Please enter your age(integer):22
Please enter your gender(male/female):female
Please choose your physical activity level(sedentary/moderately_active/active):moderately_active

In [2]:
#read in user data
if 18 <= age <=25:
    age = '18-25_'
elif 26 <= age <= 30:
    age = '26-30_'
elif age > 30:
    age = 'over_30_'
user = age + gender + act
user

'18-25_female_moderately_active'

In [3]:
from gurobipy import *
import numpy as np
import pandas as pd
constraints = pd.read_excel('OR Project Data Constraints.xlsx', index_col = 0, header= 0)
n,m = constraints.shape

In [4]:
req= constraints[user]

In [5]:
#########Parameters Set-up############
# Read the data from the csv file and use the first column as the index of rows

project = pd.read_csv('data.csv')
N,M = project.shape
print(project.columns)

Index(['Category', 'Food Name', 'Energy (kcal)', 'Protein (g)',
       'Total fat (g)', 'Saturated fat (g)', 'Dietary fibre (g)',
       'Carbohydrate (g)', 'Cholesterol (mg)', 'Sodium (mg)', 'Sugar(g)'],
      dtype='object')

In [6]:
project.shape

(136, 11)

In [7]:
nutrient = project.iloc[0:N, 2:M] 
nutrient.head()

,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg),Sugar(g)
0,323.71,28.11,23.43,9.37,0.00,0.00,153.34,1316.15,0.00
1,318.04,25.14,7.00,1.85,1.74,36.57,76.03,1969.63,4.63
2,556.47,13.16,26.74,10.05,1.54,65.77,205.80,1937.08,13.62
3,695.50,27.30,39.65,14.24,3.90,57.85,104.00,7904.00,2.18
4,668.10,18.60,51.09,20.70,0.00,33.54,366.80,772.90,2.16

In [8]:
#for objective function
total_fat = nutrient.iloc[0:N,2] 
saturated_fat = nutrient.iloc[0:N,3] 
cholesterol = nutrient.iloc[0:N,6] 
sodium = nutrient.iloc[0:N,7] 
sugar = nutrient.iloc[0:N,8]

In [9]:
req

Nutrient
Energy (Kcal)        2000
Protein (g)            50
Total fat              75
Saturated fat          25
Fiber (g)              30
Carbohydrate (g)Â      140
Cholesterol           280
Sodium               2500
sugar                 200
Name: 18-25_female_moderately_active, dtype: int64

In [10]:
m = Model("food")
D=5

# Creat variables
x = m.addVars(N, D, vtype=GRB.BINARY, name = "x")

# Set objective
#for penalty function
#m.setObjective(quicksum(x[i,d]*total_fat[i]/req[2]+x[i,d]*saturated_fat[i]/req[3]+x[i,d]*cholesterol[i]/req[6]+x[i,d]*sodium[i]/req[7]+x[i,d]*sugar[i]/req[8] for i in range(N) for d in range(D)), GRB.MINIMIZE)
#minimize total fat
#m.setObjective(quicksum(x[i,d]*total_fat[i] for i in range(N) for d in range(D)), GRB.MINIMIZE)
#minimize saturated_fat
#m.setObjective(quicksum(x[i,d]*saturated_fat[i] for i in range(N) for d in range(D)), GRB.MINIMIZE)
#minimize cholesterol
#m.setObjective(quicksum(x[i,d]*cholesterol[i] for i in range(N) for d in range(D)), GRB.MINIMIZE)
#minimize sodium
#m.setObjective(quicksum(x[i,d]*sodium[i] for i in range(N) for d in range(D)), GRB.MINIMIZE)
#minimize sugar
m.setObjective(quicksum(x[i,d]*sugar[i] for i in range(N) for d in range(D)), GRB.MINIMIZE)
    
# Add constraints:
for d in range(D):
    m.addConstr( quicksum(x[i,d] for i in project[project.Category == 'Main'].index) ==2, name = "mains") 
    m.addConstr( quicksum(x[i,d] for i in project[project.Category == 'Breakfast'].index) ==1, name = "breakfast")
    m.addConstr( quicksum(x[i,d] for i in  project[project.Category == 'Fruit'].index) <=2, name = "fruits")
    m.addConstr( quicksum(x[i,d] for i in  project[project.Category == 'Dessert'].index) <=1, name = "dessert")
    m.addConstr( quicksum(x[i,d] for i in  project[project.Category == 'Beverage'].index) <=2, name = "bev")

    m.addConstrs( (quicksum(x[i,d]*nutrient.iloc[i, j] for i in range(N)) >= req[j] for j in [0,1,4,5])
             , name = "min_req")
    m.addConstrs( (quicksum(x[i,d]*nutrient.iloc[i, j] for i in range(N)) <= req[j] for j in [2,3,6,7])
             , name = "max_intake")

for i in range(N):
    m.addConstr( quicksum(x[i,d] for d in range(D)) <=2, name = "max_repitition")

Academic license - for non-commercial use only

In [11]:
project.iloc[1,2]

318.04

In [ ]:
# Solving the model
m.setParam( 'OutputFlag', False )
%time m.optimize()

# #  Print optimal solutions and optimal value
# for v in m.getVars():
#     if(v.x == 1):
#         print(v.VarName, v.x)   

# print('Obj:', m.objVal)

In [ ]:
#  Print optimal x for x nonzero and optimal value
s_edge = []
for v in x:    
    if x[v].x > 0.001:
        print(x[v].VarName, x[v].x)
        #add both of the indicies by 1
        edge = np.add(v, (1,1))
        #append the edge to the resulting list of edges
        s_edge.append(edge)

print('Obj:', m.objVal)
print(s_edge)

In [12]:
project.iloc[[37,49,69,74,83,85,99]]

,Category,Food Name,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg)
37,Main,"Chicken chop, grilled",679.00,51.50,30.58,12.08,6.97,49.87,76.4,655.20
49,Main,Beef and Teriyaki Chicken Bento,743.28,43.03,20.88,7.92,10.76,95.35,0.0,1515.90
69,Beverage,"Soya bean milk, without sugar",82.50,6.75,5.00,0.65,2.00,3.00,0.0,30.00
74,Beverage,"Milk, low fat",97.50,9.00,1.50,1.08,0.75,12.00,7.5,100.00
83,Fruit,Dragonfruit,105.84,2.81,0.22,0.04,5.83,22.90,0.0,25.92
85,Fruit,Passion fruit,17.65,0.40,0.13,0.01,1.89,4.26,0.0,5.10
99,Breakfast,"Red rice porridge, plain",74.24,2.30,0.51,0.15,1.02,15.10,0.0,7.68

In [13]:
project.iloc[[18,36,65,74,77,86,89,98]]

,Category,Food Name,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg)
18,Main,Indian stewed potato and peas,99.25,4.47,4.33,1.19,4.33,10.62,0.0,381.63
36,Main,Salmon and Teriyaki Chicken Bento,664.54,28.54,16.99,5.17,8.03,99.90,0.0,1097.16
65,Dessert,"Soya bean curd, less sweet",263.13,12.35,3.22,0.59,1.61,45.65,0.0,32.22
74,Beverage,"Milk, low fat",97.50,9.00,1.50,1.08,0.75,12.00,7.5,100.00
77,Beverage,"Milk tea, no toppings, 100% sugar",296.10,0.47,14.57,14.29,6.11,40.89,0.0,35.63
86,Fruit,Apple,79.24,0.41,0.28,0.00,3.17,16.84,0.0,1.38
89,Fruit,Banana,93.00,1.08,0.15,0.05,2.00,21.91,0.0,16.91
98,Breakfast,Plain porridge,207.48,6.55,1.64,0.00,2.18,42.04,0.0,382.20

In [14]:
project.iloc[[6,21,64,68,69,89,97]]

,Category,Food Name,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg)
6,Main,Fried pork chop,721.89,62.74,31.84,11.77,6.33,46.29,123.68,1189.88
21,Main,Chinese rojak,517.58,16.29,21.48,6.06,6.84,63.85,12.36,914.32
64,Dessert,Beancurd Dessert with Red Bean Toppings,164.64,9.80,5.25,2.63,7.45,19.60,0.00,50.18
68,Beverage,Sugar cane juice,126.24,0.79,0.00,0.00,1.58,26.04,0.00,2.63
69,Beverage,"Soya bean milk, without sugar",82.50,6.75,5.00,0.65,2.00,3.00,0.00,30.00
89,Fruit,Banana,93.00,1.08,0.15,0.05,2.00,21.91,0.00,16.91
97,Breakfast,"Breakfast cereal, wholegrain, with dried fruit...",94.50,2.55,1.14,0.22,2.25,18.51,0.00,72.00

In [15]:
project.iloc[[36,57,60,68,77,83,88,97]]

,Category,Food Name,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg)
36,Main,Salmon and Teriyaki Chicken Bento,664.54,28.54,16.99,5.17,8.03,99.90,0.00,1097.16
57,Main,Chinese style chicken and corn soup,387.36,11.39,6.50,2.31,1.55,70.91,47.52,626.66
60,Dessert,Vietnam spring roll,78.95,4.53,1.80,0.69,0.43,11.14,0.00,104.04
68,Beverage,Sugar cane juice,126.24,0.79,0.00,0.00,1.58,26.04,0.00,2.63
77,Beverage,"Milk tea, no toppings, 100% sugar",296.10,0.47,14.57,14.29,6.11,40.89,0.00,35.63
83,Fruit,Dragonfruit,105.84,2.81,0.22,0.04,5.83,22.90,0.00,25.92
88,Fruit,Orange,46.48,1.11,0.11,0.00,2.66,8.88,0.00,3.33
97,Breakfast,"Breakfast cereal, wholegrain, with dried fruit...",94.50,2.55,1.14,0.22,2.25,18.51,0.00,72.00

In [16]:
project.iloc[[24,49,64,81,82,86,92,101]]

,Category,Food Name,Energy (kcal),Protein (g),Total fat (g),Saturated fat (g),Dietary fibre (g),Carbohydrate (g),Cholesterol (mg),Sodium (mg)
24,Main,Fried rice with ham and vegetables,395.75,10.33,11.18,4.07,3.10,63.45,79.65,453.25
49,Main,Beef and Teriyaki Chicken Bento,743.28,43.03,20.88,7.92,10.76,95.35,0.00,1515.90
64,Dessert,Beancurd Dessert with Red Bean Toppings,164.64,9.80,5.25,2.63,7.45,19.60,0.00,50.18
81,Beverage,"Coconut flesh, young",64.60,1.87,2.55,2.23,0.85,8.50,0.00,15.30
82,Beverage,Iced lemon tea,87.28,0.26,0.00,0.00,0.00,22.02,0.00,7.77
86,Fruit,Apple,79.24,0.41,0.28,0.00,3.17,16.84,0.00,1.38
92,Fruit,Durian,44.55,0.68,1.11,0.30,0.86,7.99,0.00,0.81
101,Breakfast,French Toast,220.80,10.27,9.45,4.89,2.11,23.62,0.00,309.12